:root {
  // White
  --app-color-white: #FFFFFF;
  --app-color-black: #000000;

  // Primary
  --app-color-primary: #194361;
  --app-color-primary-contrast: #FFFFFF;

  // Secondary
  --app-color-secondary: #ec5690;
  --app-color-secondary-contrast: #000000;

  // Tertiary
  --app-color-tertiary: #ddbe35;
  --app-color-tertiary-contrast: #2e2e2e;
}
