@mixin absolute-el ($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translatev($x,$y);
}

// pseudo el

@mixin pseudo-el ($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}